scripts/ssh_info
.vscode/settings.json
tasks/task_e/test
tasks/task_e/main
tasks/task_1_1
tasks/task_1_2
tasks/task_1_3
tasks/task_additional_1
tasks/*SYM
tasks/task_e/*SYM
tasks/task_sort/*SYM
tasks/task_sort/main
tasks/task_gol/bin/
tasks/task_sort/bin/
tasks/lab_1/bin/
tasks/lab_2/bin/
tasks_omp/task_0_1
tasks_omp/task_0_2
tasks_omp/task_nested
tasks_omp/task_balancing
.vscode/
tasks_omp/lab_1/simple
tasks_omp/task_sort_1
tasks_omp/task_sort_2
