.vscode/
scripts/ssh_info
tasks_mpi/bin/*
tasks_mpi/task_e/main
tasks_mpi/task_e/*SYM
tasks_mpi/task_sort/*SYM
tasks_mpi/task_sort/main
tasks_mpi/task_gol/bin/
tasks_mpi/task_sort/bin/
tasks_mpi/lab_1/bin/
tasks_mpi/lab_2/bin/
tasks_omp/bin/*
tasks_omp_devices/bin/*
lab_2/bin/*
lab_2/data/*
lab_3/bin/*
lab_3/data/*